@media screen and (min-width: 280px) and (max-width: 374.98px) {
  .socialIcon {
    height: 20px;
    width: 20px;
  }

  .githubIcon {
    border-radius: 50%;
  }

  .iconsContainer {
    position: relative;
    top: 10px;
    right: 3px;
    display: grid;
    justify-content: right;
    grid-template-columns: 20px 20px 20px 20px;
    grid-gap: 5px;
  }

  .heroImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  .heroName {
    text-align: center;
    font-size: 1em;
  }

  .herohr {
    color: black;
    border-width: 0.5px;
    width: 250px;
  }

  .heroContainer {
    position: relative;
    top: 40px;
  }

  .logoImage {
    width: 75px;
    height: 75px;
  }

  .logosContainer {
    position: relative;
    top: 50px;
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px;
    grid-gap: 16px;
    justify-content: center;
  }
}

@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .socialIcon {
    height: 24px;
    width: 24px;
  }

  .githubIcon {
    border-radius: 50%;
  }

  .iconsContainer {
    position: relative;
    top: 10px;
    right: 12px;
    display: grid;
    justify-content: right;
    grid-template-columns: 20px 20px 20px 20px;
    grid-gap: 10px;
  }

  .heroImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .heroName {
    text-align: center;
    font-size: 1em;
  }

  .herohr {
    color: black;
    border-width: 0.5px;
    width: 250px;
  }

  .heroContainer {
    position: relative;
    top: 40px;
  }

  .logoImage {
    width: 75px;
    height: 75px;
  }

  .logosContainer {
    position: relative;
    top: 50px;
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px;
    grid-gap: 16px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .socialIcon {
    height: 30px;
    width: 30px;
  }

  .githubIcon {
    border-radius: 50%;
  }

  .iconsContainer {
    position: relative;
    top: 25px;
    right: 20px;
    display: grid;
    justify-content: right;
    grid-template-columns: 50px 50px 50px 50px;
    grid-gap: 20px;
  }

  .heroImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .heroName {
    text-align: center;
  }

  .herohr {
    color: black;
    border-width: 0.5px;
    width: 500px;
  }

  .heroContainer {
    position: relative;
    top: 75px;
  }

  .logoImage {
    width: 150px;
    height: 150px;
  }

  .logosContainer {
    position: relative;
    top: 100px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    grid-gap: 20px;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279.98px) {
  .socialIcon {
    height: 30px;
    width: 30px;
  }

  .githubIcon {
    border-radius: 50%;
  }

  .iconsContainer {
    position: relative;
    top: 10px;
    right: 20px;
    display: grid;
    justify-content: right;
    grid-template-columns: 30px 30px 30px 30px;
    grid-gap: 10px;
  }

  .heroImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .heroName {
    text-align: center;
    /* padding: 0; */
    margin: 0;
  }

  .herohr {
    color: black;
    border-width: 0.5px;
    width: 500px;
  }

  .heroContainer {
    position: relative;
    top: 25px;
  }

  .logoImage {
    width: 100px;
    height: 100px;
  }

  .logosContainer {
    position: relative;
    top: 40px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px;
    grid-gap: 5px;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .socialIcon {
    height: 20px;
    width: 20px;
  }

  .githubIcon {
    border-radius: 50%;
  }

  .iconsContainer {
    position: relative;
    top: 10px;
    right: 20px;
    display: grid;
    justify-content: right;
    grid-template-columns: repeat(4, 20px);
    grid-gap: 10px;
  }

  .heroImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .heroName {
    text-align: center;
    /* padding: 0; */
    margin: 0;
  }

  .herohr {
    color: black;
    border-width: 0.5px;
    width: 500px;
  }

  .heroContainer {
    position: relative;
    top: 55px;
  }

  .logoImage {
    width: 110px;
    height: 110px;
  }

  .logosContainer {
    position: relative;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(6, 110px);
    grid-template-rows: repeat(2, 110px);
    grid-gap: 10px;
    justify-content: center;
  }
}
